@import url('./reset.css');

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 10fr 1fr;
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#state-display{
    flex: 1;
}

#game-area {
    width: 500px;
    height: 500px;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    margin: 50px;
    flex: 5;
}

#game-area div {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
}


footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100vw;
    gap: 2vw;
    background-color: grey;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.5rem;
}

#github-logo {
    height: 30px;
}